<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Practice Vue.js</title>
  <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
  <script src="index.js" defer></script>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <p id="firstMessage">{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <button v-on:click="allCaps">All Caps</button>
    <input v-model="message">

    <hr>

    <ol class="lists">
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>

    <hr>

    <div>
      <button v-on:click="toggleInfo">Toggle Info</button>
      <p v-if="showInfo">Extra Information</p>
      <br>

      <hr>

      <input type="checkbox" v-on:click="something">
      <p v-bind:class="{ disabled: displayInfo} ">Extra Extra Information</p>
    </div>

    <hr>

    <div>
      <ol class="lists">
        <li v-for="fruit in fruits">{{ fruit }}</li>
      </ol>
    </div>

    <br>

    <div>
      <input type="text" v-model="newFruit">
      <button v-on:click="addFruit">Add New Fruit</button>
    </div>

    <hr>

    <div v-for="todo in todos">
      <p>{{ todo.title }}</p>
    </div>
  </div>

  <hr>
  <br>

  <div id="app-2">
    <div>1st number: <input v-model="firstSum" type="text"></div>
    <div>2nd number: <input v-model="secondSum" type="text"></div>
    <div>3rd number: <input v-model="thirdSum" type="text"></div>
    <button v-on:click="sum">Calulate Sum</button>
    <p>The sum is: {{ calculatedSum }}</p>

    <hr>

    <div>1st number: <input v-model="firstProduct" type="text"></div>
    <div>2nd number: <input v-model="secondProduct" type="text"></div>
    <div>3rd number: <input v-model="thirdProduct" type="text"></div>
    <button v-on:click="product">Calculate Product</button>
    <p>The product is: {{ calculatedProduct }}</p>
  </div>

  <hr>

  <div id="app-3">
    <h3>Guess a word here:</h3>
    <p v-if="guess === 'password'"> {{ message }} </p>
    <p v-else-if="guess === 'secret'">{{ almost }}</p>
    <input type="text" v-model="guess">
    <p>Guess right and the secret message will be displayed...</p>
  </div>

  <hr>

  <div id="app-4">
    <!-- <button v-on:click="loadTodos">Load Todos</button> -->
    <!-- <button v-on:mouseover="loadTodos">Load Todos</button> -->
    <button v-on:click="createTodo">Add Todo</button>
    <ol>
      <li v-for="todo in todos">
        {{ todo.title }}
      </li>
    </ol>
  </div>
  </div>
</body>

</html>