<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Practice Vue.js</title>
  <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js" defer></script>
  <style>
    .disabled {
      color: LightGrey;
    }
  </style>
</head>

<body>
  <h1>Hello from HTML!</h1>
  <div id="app">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <button v-on:click="allCaps">All Caps</button>
    <input v-model="message">
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>

    <hr>
    <div>
      <button v-on:click="toggleInfo">Toggle Info</button>
      <p v-if="showInfo">Extra Information</p>
      <br>
      <hr>
      <input type="checkbox" v-on:click="something">
      <p v-bind:class="{ disabled: displayInfo} ">Extra Extra Information</p>
    </div>
    <hr>
    <div>
      <ol>
        <li v-for="fruit in fruits">{{ fruit }}</li>
      </ol>
    </div>
    <br>
    <div>
      <input type="text" v-model="newFruit">
      <button v-on:click="addFruit">Add New Fruit</button>
    </div>
  </div>

  <hr>
  <br>

  <div id="app-2">
    <div>1st number: <input v-model="first" type="text"></div>
    <div>2nd number: <input v-model="second" type="text"></div>
    <div> 3rd number: <input v-model="third" type="text"></div>
    <button v-on:click="sum">Calulate Sum</button>
    <p>The sum is: {{ answer }}</p>
  </div>

</body>

</html>